{% extends 'hospital/nurse_base.html' %}
{% block content %}
{%load static%}

<head>
  <meta charset="utf-8">


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

  <style type="text/css">
        body {
            background: #eee;
            
        }
        
        .ratings i {
            color: green;
        }
        
        .install span {
            font-size: 12px;
        }
        
        .col-md-4 {
            margin-top: 27px;
        }
    </style>

</head>

{% if patients %}
{% for p in patients %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="{% static p.profile_pic.url %}" width="70">
                    <div class="d-flex flex-column ml-2"><span>{{p.get_name}}</span><span class="text-black-50">Patient</span></div>
                </div>
                <h6>Major Symptom: {{p.symptoms}}</h6>
                <div class="d-flex justify-content-between install mt-3"><span>Admittied on {{p.admitDate}}</span></div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{%else%}
  <br><br><br>
  <h4 style="text-align: center;color: red;">No Patient Found !!!</h4>
{% endif %}

{% endblock content %}